body{
    padding-top: 120px;
}
.top{
    display: flex;
    background-image: url(pictures/homepage.jpg);
    background-position: right;
    background-size: 45% auto;
    background-repeat: no-repeat;
    padding: 5% 0;
    background-attachment: fixed;
}
.top .txt{
  margin-left: 15%;
  display: flex;
}
.top h1{
    /* border: solid 1px black; */
    font-size: 12vmin;
    writing-mode: vertical-rl;
    letter-spacing: 1.6rem;
}
.top p{
    font-size: 3vmin;
    letter-spacing: 0.3rem;
    color: var(--color_gray);
    position: absolute;
    display: inline-block;
    left: 25%;
    top: 50%
}
.wrap{
    position:relative;
    top: 65%;
    left: 50px;
    width: 55%;
    display: flex;
    overflow-x: scroll;
}
.wrap::-webkit-scrollbar{
    height: 8px;
}
.wrap::-webkit-scrollbar-track{
    background-color: transparent;
}
.wrap::-webkit-scrollbar-thumb{
    background: linear-gradient(45deg, #d5e4dc, #E6EBE9);
}
.top .wrap a{
  margin: 15px;
}
.top .wrap .card{
  width: 230px;
  height: 200px;
}
.top .card .item{
  margin: 5% auto;
}
.card{
    backdrop-filter: blur(4px);
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 10px;
    box-shadow: 0 0 10px #d9d9d9;
    padding: 3% 0;
    user-select: none;
}
.card img{
  transition: 1.5s;
  vertical-align: middle;
}
.card:hover img{
    transform: scale(1.05);
}
.top .card p{
  font-size: 1rem;
  position: relative;
  top: 5%;
  opacity: 0;
  transition: 1s;
  margin-left: 5%;
}
.top .card:hover p{
  opacity: 1;
}
.space{
    max-width: 1200px;
    margin: auto;
    margin-top: 10%;
}
.space .img{
    width: 40%;
    background-image: url(pictures/verdical.png);
    background-size: 35% auto;
    background-position: 10%;
    background-attachment: fixed;
    background-repeat: no-repeat;
}
.space .txt{
    margin-left: 10%;
    margin-top: 10%;
    font-size: 1.4rem;
    width: 50%;
}
.space .txt p{
    font-family: 'Noto Serif TC', serif;
    line-height: 1.6;
    margin: 5%;
}
.space .txt strong{
    writing-mode: vertical-lr;
    margin-top: 10%;
    letter-spacing: 1.5rem;
}
main{
    margin-top: 100px;
}
h2{
    font-size: 5vmin;
    margin: 20px;
  }
.background{
    display: flex;
    position: sticky;
}
.background img{
    width: 55%;
    animation: backgroundMove 10s infinite;
}
.background img:nth-child(1){
    margin-left: -20%;
    transform: rotate(-10deg);
    
    
}
.background img:nth-child(2){
    margin-left: 20%;
    height: 65%;
}

@keyframes backgroundMove {
    0% { 
        transform: translate(20px,30px);
        /* transform: rotate(-5deg); */
    }
    50% { 
        transform: translate(50px,10px);
        /* transform: rotate(5deg); */
    }
    100% { 
        transform: translate(20px,30px);
        /* transform: rotate(-5deg); */
    }
}

main .container{
    max-width: 1200px;
    margin: auto;
    text-align: center;
    position: relative;
    margin-top: -100%;
    transform: translate(0, 100%);
}
main .card{
  padding: 10% 10% 0 10%;
  height: 70%
}
.card .item{
    height: 80%;
}
.item .img{
    width: 100%;
    height: 90%;
}
.item img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.card:hover{
    box-shadow: 0 0 10px #ababab;
}

.card .txt p{
    line-height: 1.6;
}
.card .txt p:nth-child(1){
    font-size: 1.2rem;
    font-weight: 500;
}
.card .txt p:nth-child(3){
    font-size: 1.6rem;
    color: var(--color_yellow);
    line-height: 1.6;
    font-weight: 900;
}
.more{
    text-align: right;
    display: flex;
    justify-content: flex-end;
    margin-left: 88%;
 }
 .more p{
     font-size: 1.2rem;
     font-weight: 500;
     display: inline-block;
     position: absolute; 
     transform: translate(-150%, 55%);
     z-index: 1;
 }
 .more a{
     font-weight: 500;
     display: inline-block;
     font-size: 1.2rem;
     transition: color,.5s;
 }
 .more_go{
     background-color: var(--color_yellow);
     border-radius: 50%;
     padding: 50%;
     width: 100%;
     box-shadow: 2px 2px 4px rgba(26, 25, 25, 0.3);
     transition: width,1s;
     margin: 0 0 0 auto;
     float: right;
     
 }
 .more:hover .more_go{
     width: 980%;
     border-radius: 50px;
 }
 .more:hover a{
    color: white;
 }
 .idea{
    margin-top: 60%;
    background-image: url(pictures/bgimage3.svg);
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: 0 100%;
 }
 .idea .txt{
    margin-left: 60%;

 }
 .idea .txt p{
    font-size: 1.2rem;
    line-height: 1.6;
    margin: 10px 10% 10px 0;
    font-family: 'Noto Serif TC', serif;
 }
 .idea img:not(:nth-child(4)){
    width: 10%;
 }
 .idea img:nth-of-type(1){
    transform: translate(55%, -100%)rotate(-20deg);
 }
 .idea img:nth-of-type(2){
    transform: translate(55%, -330%)rotate(20deg);
 }
 .idea img:nth-of-type(3){
    transform: translate(85%, -180%)rotate(-10deg);
 }
 .idea img:nth-of-type(5){
    transform: translate(65%, -530%)rotate(30deg);
 }
 .idea img:nth-of-type(6){
    transform: translate(-85%, -330%)rotate(-15deg);
 }
 .idea img:nth-of-type(7){
    transform: translate(-5%, -230%)rotate(20deg);
}
 .idea img:nth-child(4){
    transform: translate(25%, -15%);
    filter:drop-shadow(0px 0px 4px rgba(0, 0, 0, 0.5));
 }
 .idea .more{
    padding: 15px 0;
 }
 .design {
    text-align: center;
    margin: 10% 0;
    user-select: none;
  }

  .design p{
    font-size: 1.2rem;
    letter-spacing: 5px;
    margin: 20px;
    font-family: 'Noto Serif TC', serif;
  }

  .slider {
    height: 100%;
    margin: 20px 0;
    overflow: hidden;
    position: relative;
    width: 100%;
  }

  .slider .slide-track {
    animation: scroll 40s linear infinite;
    display: flex;
    width: calc(360px * 16);
    justify-content: space-between;
  }
  @keyframes scroll{
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(calc(-360px * 8));
    }
  }
  .slider::before, .slider::after {
    background: linear-gradient(to right, white 0%, rgba(255, 255, 255, 0) 100%);
    content: "";
    height: 450px;
    position: absolute;
    width: 350px;
    z-index: 2;
  }
  .slider::after {
    right: 0;
    top: 0;
    transform: rotateZ(180deg);
  }
  .slider::before {
    left: 0;
    top: 0;
  }
  .slider .slide {
    height: 450px;
    width: 350px;
  }
  .slide{
    box-shadow: 4px 4px 10px #818181;
  }
  .slide img{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .reco .bgimg{
    background-image: url(pictures/catjump.gif);
    background-repeat: no-repeat;
    background-size: 100%;
    width: 100vw;
    height: 100vh;
  }
  .reco .txt{
    width: 90%;
    margin: auto;
    color: white;
  }
  .reco .txt h2{
    margin-top: 60%;
  }
  .reco .txt .col-8 p{
    font-size: 1.2rem;
    line-height: 1.6;
    margin: 20px;
    letter-spacing: 3px;
  }
  .reco .txt .col-4 p{
    font-size: 4vmin;
    line-height: 1.6;
    letter-spacing: 10px;
    writing-mode:vertical-rl;
    font-weight: 200;
    margin-top: 50%;
    font-family: 'Noto Serif TC', serif;
  }
  .reco_cats{
    width: 100%;
    display: flex;
    /* justify-content: space-between; */
    text-align: center;
    user-select: none;
  }
  .reco_cats .img{
    width: 33%;
    height: 550px;
    margin: 0.333333%;
    background-size: 100%;
    filter: grayscale(80%);
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    transition: .5s;
    position: relative;
  }
  .reco_cats .img:hover{
    filter: grayscale(0);
    width: 35%;
  }
  .reco_cats .img:first-child{
    background-image: url(pictures/riri.jpg);
  }
  .reco_cats .img:nth-child(2){
    background-image: url(pictures/milktea.jpg);
  }
  .reco_cats .img:last-child{
    background-image: url(pictures/nyonyo.jpg);
  }

  .reco_cats .txt{
    background-color: var(--color_gray);
    width: 25%;
    backdrop-filter: blur(4px);
    padding: 5%;
    opacity: 0;
    transition: .5s;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
  }
  .reco_cats .img:not(:nth-child(2)) .txt{
    bottom: 15%;
  }
  .reco_cats .img:nth-child(2) .txt{
    top: 20%;
  }
  .reco_cats .txt p{
    font-weight: 300;
    line-height: 1.6;
  }
  .reco_cats h3{
    display: inline-block;
    font-size: 1.2rem;
    color: white;
    padding: 15px 0;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0);
  }
  .reco_cats .img:hover .txt{
    opacity: .9;
  }
