@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700;900&family=Noto+Serif+TC:wght@200;300;400;500;600;700;900&display=swap');
:root{
    --color_green: #E6EBE9;
    --color_gray: #61616D;
    --color_yellow: #f6c375;
    --color_brightyellow: #fcefcf;
    --color_greengray: #747d78;
    --color_pink: #fae9ea;
}
html {
    /* cursor: url('pictures/move.png') 10 5, move; */
    overflow-x: hidden;
    font-size: 15px;
    scroll-behavior: smooth;
}
body{
    color: var(--color_gray);
    padding-top: 60px;
    font-family: "Noto Sans TC" , serif;
}
h1, h2, h3, h4, h5, nav, ul, th{
    font-family: 'Noto Serif TC', serif;
}

@media screen and (max-width: 767px){
    html{
        font-size: 10px;
    }
}
a{
    color: inherit;
    text-decoration: none;
}
.navbar{
    display: flex;
    justify-content: center;
    background-color: var(--color_green);
    position: fixed;
    top: 0;
    width: 100%;
    height: 60px;
    z-index: 10;
    box-shadow: 0 0 10px var(--color_gray);
}
.navbar{
    align-content: center;
    vertical-align: middle;
}
.logo{
    width: 20%;
    height: 100%;
}
.logo img{
    height: 110%;
    margin-right: 10px;
}
header label{
    height: 50px;
    margin-top: auto;
    margin-right: 50px;
}
header input{
    backdrop-filter: blur(3px);
    border: solid 1px var(--color_gray);
    border-radius: 10px;
    height: 30px;
    width: 150px;
    background-color: var(--color_green);
}

.main_nav a{
    display: block;
    padding: 0 20px;
    margin-top: auto;
    height: 85%;
}
.main_nav ul:not(:nth-child(2)) li:hover{
    background-color: var(--color_greengray);
    color: white;
    stroke: white;
    font-weight: 700;
}

#menu_switch{
    display: none;
}
.navbar ul{
    display: flex;
    justify-content: space-evenly;
}
.navbar ul li{
    color: var(--color_gray);
    line-height: 60px;
}
.navbar ul li img{
    height: 25px;
    margin-top: 70%;

}

@media screen and (max-width: 767px){
    .main_nav{
        /* display: none; */
        position: absolute;
        background-color: rgb(248, 217, 153);
        width: 100%;
        left: -100%;
        top: 100%;
        opacity: 0;
        transition: opacity 1s, left 0s 1s;
    }
}
@media screen and (min-width: 768px){
    .main_nav{
        display: flex;
        position: relative;
        width: 60%;
        justify-content: right;
    }
    
}

footer{
    margin-top: 50px;
    padding: 50px;
    background-color: var(--color_green);
}

.footer_nav{
    width: 100%;
    margin: auto;
}

.footer_icon{
    display: flex;
    width: 100%;
    margin: 5% 0;
}
.footer_icon img{
    width: 50%;
}
.footer_info p{
    line-height: 1.6rem;
}
.footer-info span{
    font-weight: 600;
}
.footer_nav h5{
    font-weight: 700;
    font-size: 1.2rem;
    padding: 5%;
    border-bottom: solid 3px var(--color_greengray);
}
.footer_nav ul{
    padding: 5%;
}
.footer_nav li{
    line-height: 1.6rem;
}

footer a:hover{
    font-weight: 700;
    color: var(--color_greengray);
}
.notice{
    text-align: center;
    padding: 2% 0;
    margin-top: 5%;
    margin-bottom: -50px;
    border-top: solid .5px black;
}
.notice p{
    color: var(--color_gray);
    line-height: 1.2rem;
}

